
<h1>Hi I am Jon</h1>
<h1>J.aquarone@gmail.com</h1>


<p>Welcome to the fancy todo list landing page</p>

<p>Project Requirements</p>



<ul class="list-group">
  <li class="list-group-item" style="red;"><p>Project Requirements</p></li>

  <li class="list-group-item">You MUST include a CSS Framework such as Bootstrap or Materialize</li>
  <li class="list-group-item">You MUST include at least two separate pages</li>
  <li class="list-group-item">You MUST follow RESTful patterns</li>
  <li class="list-group-item">You MUST use an opinionated architecture (e.g. MVC)</li>
  <li class="list-group-item">You MUST include error handling and appropriate status codes</li>
  <li class="list-group-item">You MUST store data in a database</li>
  <li class="list-group-item">You MUST submit an Entity Relationship Diagram for your relational database schema</li>
  <li class="list-group-item">You MUST have at least one One-to-Many relationship and one Many-to-Many relationship between entities in your model</li>
  <li class="list-group-item">You MUST deploy your server</li>
  <li class="list-group-item">You MUST not sleep...ever</li>
</ul>



<a href="/todo/" type="button" class="btn btn-default btn-">
  GO ! to list !
</a>
